nav#navbar
    .navbar-container
    a(href="/")
        img(src="/images/logo.png", alt="Site Logo", class="logo")
    ul
        li
        a(href="/") Home
        li
        a(href="#") Weather
        li
        a(href="#") News
        li
        a(href="#") About
        li
        a(href="#") Contact